<!-- <h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/decks" routerLinkActive="active">Decks</a>
  <a routerLink="/login" routerLinkActive="active">
    {{ authService.isLoggedIn ? 'Logout' : 'Login' }} </a>
  <a routerLink="/createDeck" routerLinkActive="active">Create Deck</a>
</nav>
<router-outlet></router-outlet>-->

<h1>{{title}}</h1>



<div class="container">

  <tabset>
    <tab *ngFor="let tab of tabs"
         [heading]="tab.title"
         [active]="tab.active"
         (select)="navigate(tab.path); tab.active=true"
         (deselect)="tab.active=false">
    </tab>
  </tabset>


  <router-outlet></router-outlet>
</div>
