
<div class="cards">
  <div *ngFor="let card of cards; let i = index">
    <div *ngIf="card === selectedCard">
  <button class="left" (click)="onSelect(cards[i+1])">Next</button>
  <button class="center" (click)="onSelect(cards[i-1])">Previous</button>
  <button class="right" (click)="onStar(cards[i])">Star</button>
</div>
</div>
</div>
<!-- <ul class="cards">
  <li *ngFor="let card of cards"
      [class.selected]="card === selectedCard"
      (click)="onSelect(card)">
    <div>
      <span class="badge">{{card.id}}</span>
    </div>
  </li>
</ul> -->
  <div *ngIf="selectedCard">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
			{{selectedCard.question}}
		</div>
		<div class="back">
		  {{selectedCard.answer}}
		</div>
	</div>
</div>
</div>
    <!-- <h2>
      {{selectedCard.question}}
    </h2>
    <h2>
      {{selectedCard.answer}}
    </h2> -->
    <h3> Starred Cards </h3>
    <ul class="starredCards">
      <li *ngFor="let card of stared"
          [class.selected]="card === selectedCard"
          (click)="onSelect(card)">
          <button class="delete" title="Delete"
            (click)="onRemove(card); $event.stopPropagation()">x</button>
       {{card.question}}
      </li>
    </ul>
    <div *ngIf="selectedCard">
      <h2>
        {{selectedCard.title | uppercase}}
      </h2>
    </div>
