{% extends "fcga/base.html" %} {% block content %} {% if deck %}
<ul class="list-group">
    {% for d in deck %}
    <li class="list-group-item">
        <a href="{% url 'fcga:deck' d.id %}">{{ d.title }}</a>
        <p><a class="btn btn-danger btn-sm" href="{% url 'fcga:del_deck' d.id %}" role="button">Delete current Deck</a></p>
        <p><a class="btn btn-danger btn-sm" href="{% url 'fcga:change_deck' d.id %}" role="button">Change current Deck</a></p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No decks are available.</p>
{% endif %} {% endblock %}
