<div *ngIf="authService.isLoggedIn">
<h2>Decks</h2>
<div class="new-review" *ngIf="authService.isLoggedIn">
  <div>
    <label>Title:</label> <input #deckTitle />
  </div>
  <div>
    <label>Category:</label>
    <textarea rows="4" cols="50" #deckCategory></textarea>
  </div>
  <div>
    <label>description:</label>
    <textarea rows="4" cols="50" #deckDescription></textarea>
  </div>
  <button (click)="add(deckTitle.value, deckCategory.value, deckDescription.value);
                   deckTitle.value=''; deckCategory.value=''; deckDescription.value=''">
    Add
  </button>
</div>
<ul class="decks">
  <li *ngFor="let deck of decks"
      [class.selected]="deck === selectedDeck"
      (click)="onSelect(deck)">
    <button class="delete"
      (click)="delete(deck); $event.stopPropagation()">x</button>
    <span class="badge">{{deck.id}}</span> {{deck.title}}
  </li>
</ul>
<div *ngIf="selectedDeck">
  <h2>
    {{selectedDeck.title | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
  <create-card [deckId]="selectedDeck.id"></create-card>
</div>
</div>
